body{
   text-align: center;
  width: 100%;
  height: 100vh; /*altura del color de fondo*/
    background-image: url("../img/preguntas.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.idioma{
  width: 100px;
  height: 50px;
  margin-top: 4%;
}

/*icono de flecha*/
.fa-angle-down {
  color: #fff;
}

.form-control{
  background:rgba(83, 21, 21, 0.5);
  text-align: center;
  color: white;
  font-size: 20px;
  /*width: 280px;*/
  margin-bottom: 2%;
  margin-top: 2%;
}

.form-control::placeholder{
  font-size: 40px;
  color:white;
}

.result{
  padding-top: 25px;
 font-size: 40px;
 color: black;
}


#usuario{
  margin-top: 15%;
  height: 40%;
  margin-bottom: 10%;
}

#clave{
  height: 70%;
  margin-bottom: 10%;
}

.btn_true{
padding-top: 130px;
}

.btn_false{
padding-top: 30px;
}

.next{
padding-top: 60px;
}

#pregunta{
  padding-top:140px;
  color:black;
  font-size: 40px;
}

.imagen{
  /*width: 440px;*/
  width: 70%;
  height:190px;
  margin-top: 5%;
}

.btn-outline-light{
  background:rgba(41, 10, 10, 0.9);
  /*width: 280px;*/
  width: 100%;
  height: 115%;
  color: white;
  border-color: #fff;
  font-size: 35px;
  margin-top: 2%;
}

.btn-outline-light2{
  background:rgba(41, 10, 10, 0.7);
  /*width: 280px;*/
  width: 100%;
  height: 115%;
  color: white;
  border-color: #fff;
  font-size: 35px;
  margin-top: 2%;
}

.informacion{
  font-size: 29px;
  color: white;
  margin-top: 7%;
}

hr{
  width: 90%;
  background-color: white;
}

.errores{
  font-size: 20px;
  color: white;
}

#mensaje_usuario{
  display: none;
}

#mensaje_clave,#mensaje_clave2,#mensaje_clave3{
  display: none;
}

#rowLine {
  margin-top: 5%;
}

#line,#line2 {
  color: #fff;
}

#pPostLine {
  color: #fff;
  font-size: 32px;
}

#rowFacebook {
  margin-top: 3%;
}

#ultimo {
  color: #fff;
  font-size: 37px;
}

#footer {
  border-top: 1px solid #fff;
  margin-top: 40%;
}

#footerParagraph {
  color: #fff;
  font-size: 33px;
  margin-top: 3%;
}